<section id="home" {{home}}>
  <div>
    <h1>Hi! I'm Giorgio.</h1>
    <h2 id="phrases">A&nbsp;<span id="typed"></span></h2>
    <div id="strings">
      <h2>Software Engineer</h2>
      <h2><img src="images/google-g.svg" id="google-g" alt="Google" title="Google"><span>&nbsp;Certified Mobile Web Specialist</span></h2>
      <h2>Cloud Technician</h2>
      <h2>Developer Advocate</h2>
      <h2>Graphic Designer (sort of)</h2>
      <h2>Musician in free time</h2>
    </div>
    <h2 id="since-2004">trying to make the web a better place&nbsp;<a
              id="since-2004-link"
              rel="external"
              href="https://translate.google.com/translate?js=n&sl=it&tl=en&u=https://web.archive.org/web/20101103024916/http://www.w3schools.it:80/"
              target="since-2004"
              rel="nofollow">since&nbsp;2004</a>.</h2>
    <svg id="scroll-down" viewBox="0 0 24 24">
      <path fill="currentColor" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z"/>
    </svg>
  </div>
  <nav id="menu">
    <% pages.forEach(({ id, title, icon, link }) => { %>
      <a href="<%= link || '/' + id %>" <%- link ? 'rel="external" target="' + id + '-link"' : ''%> id="<%= id %>-link">
        <span>
          <%= title %>
          <% if (link) { %>
            <svg viewBox="0 0 24 24">
              <path fill="currentColor" d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" />
            </svg>
          <% } %>
        </span>
        <svg viewBox="0 0 24 24">
          <path d="<%= icon %>"/>
        </svg>
      </a>
    <% }) %>
  </nav>
</section>
