<% data.certifications.forEach(({ id, title, subtitle, link, skills, picture }) => { %>
  <a class="certification" href="<%= link %>" target="<%= id %>">
    <%- picture %>
    <h2><%= title %></h2>
    <h3><%= subtitle %></h3>
    <ul class="badges" tabindex="0">
      <% skills.forEach(skill => { %>
        <li><%= skill %></li>
      <% }) %>
    </ul>
  </a>
<% }) %>
