<% data.certifications.forEach(({ id, name, link, skills, picture }) => { %>
  <a class="certification" href="<%= link %>" target="<%= id %>">
    <%- picture %>
    <h2><%= name %></h2>
    <ul class="badges" tabindex="0">
      <% skills.forEach(skill => { %>
        <li><%= skill %></li>
      <% }) %>
    </ul>
  </a>
<% }) %>
