<div class="content-boundaries skills-container">
  <article>
    <h3><%= helpers.translate(page.coding) %></h3>
    <div>
      <section>
        <h4><%= helpers.translate(page.mostConfidentLangs) %></h4>
        <div>
          <%- data.skills.codingSkillsChart %>
        </div>
      </section>
      <section>
        <h4><%= helpers.translate(page.mostUsedLangs) %></h4>
        <div id="most-used-langs">
          <%- data.skills.codeSizeChart %>
        </div>
      </section>
    </div>
  </article>
  <article>
    <h3><%= helpers.translate(page.music) %></h3>
    <div>
      <%- data.skills.musicSkillsChart %>
    </div>
  </article>
  <article>
    <h3><%= helpers.translate(page.softSkills) %></h3>
    <div>
      <%- data.skills.softSkillsChart %>
    </div>
  </article>
</div>
