<div class="content-boundaries skills-container">
  <article>
    <h3><%= data.pages.skills.coding %></h3>
    <div>
      <section>
        <h4><%= data.pages.skills.mostConfidentLangs %></h4>
        <div>
          <%- data.skills.codingSkillsChart %>
        </div>
      </section>
      <section>
        <h4><%= data.pages.skills.mostUsedLangs %></h4>
        <div id="most-used-langs">
          <%- data.skills.codeSizeChart %>
        </div>
      </section>
    </div>
  </article>
  <article>
    <h3><%= data.pages.skills.music %></h3>
    <div>
      <%- data.skills.musicSkillsChart %>
    </div>
  </article>
  <article>
    <h3><%= data.pages.skills.softSkills %></h3>
    <div>
      <%- data.skills.softSkillsChart %>
    </div>
  </article>
</div>
