<body <%- page.id === 'home' ? '' : 'class="blocked"' %>>
  <noscript>
    <style>
      #strings-container {
        height: 100% !important;
        position: initial !important;
        top: initial !important;
      }

      #strings {
        list-style: none;
      }
    </style>
  </noscript>
  <div>
    <div id="home" <%- page.id === 'home' ? '' : 'class="invisible" aria-hidden="true"' %>>
      <% if (page.id === 'home') { %>
        <%- await include('home') %>
      <% } else { %>
        <div class="loading-container">
          <div class="loading"></div>
        </div>
      <% } %>
    </div>

    <%- await include('pages') %>

    <div id="update-notification" hidden>
      <p><%= helpers.translate(config.update.available) %></p>
      <div>
        <button id="cancel-update">
          <span><%= helpers.translate(config.update.cancel) %></span>
        </button>
        <button id="perform-update" autofocus>
          <span><%= helpers.translate(config.update.perform) %></span>
          <div class="loading" hidden></div>
        </button>
      </div>
    </div>
  </div>
</body>
