<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- await include('icons') %>

  <title><%= page.title ? `${helpers.translate(page.title)} - ${config.baseTitle}` : config.baseTitle %></title>
  <meta name="description" content="<%= helpers.translate(page.description) %>">

  <meta property="og:title" content="<%= page.title ? `${helpers.translate(page.title)} - ${config.baseTitle}` : config.baseTitle %>">
  <meta property="og:description" content="<%= helpers.translate(page.description) %>">
  <meta property="og:image" content="../images/propic-20220630.jpg">
  <meta property="og:image:alt" content="Giorgio Garasto">
  <meta property="og:url" content="<%= `${config.baseUrl}/${config.locale}/${page.slug ? `${page.slug}` : ''}` %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Dabolus">
  <meta name="twitter:creator" content="@Dabolus">
  <script type="application/ld+json"><%- helpers.generateStructuredData({ config, helpers }) %></script>

  <%- await include('async-css-js') %>
  <%- await include('critical-css') %>
</head>
