<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include src/fragments/icons -%>

    <title>Giorgio Garasto</title>
    <meta name="description" content="Giorgio Garasto">
    <base href="/">

    <%- include src/fragments/critical-css -%>
    <%- include src/fragments/critical-js -%>
  </head>
  <body>
    <%- include src/fragments/i-am-section -%>
    <%- include src/fragments/nav-menu -%>
  </body>
</html>
