<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <%- include icons -%>

  <title><%= title ? `${title} - ${baseTitle}` : baseTitle %></title>
  <meta name="description" content="<%= description %>">

  <meta property="og:title" content="<%= title ? `${title} - ${baseTitle}` : baseTitle %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="images/propic.jpg">
  <meta property="og:image:alt" content="Giorgio Garasto">
  <meta property="og:url" content="{{url}}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Dabolus">
  <meta name="twitter:creator" content="@Dabolus">
  <script type="application/ld+json">[{"@context":"http://schema.org","@type":"Person","url":"https://giorgio.garasto.it","image":"https://giorgio.garasto.it/images/propic.jpg","name":"Dabolus","givenName":"Giorgio","familyName":"Garasto","gender":{"@type":"GenderType","name":"Male"},"email":"giorgio@garasto.it","nationality":{"@type":"Country","name":"IT"},"description":"Giorgio Garasto - also known as Dabolus - is an italian Software Engineer and Graphic Designer specialized in web development. He is mainly known for his very first published project, the Clash Royale Card Maker.","sameAs":["https://www.facebook.com/giorgio.garasto","https://twitter.com/Dabolus","https://www.linkedin.com/in/giorgiogarasto","https://github.com/Dabolus"]}]</script>

  <%- include async-css-js -%>
  <%- include critical-css -%>
  <%- include critical-js -%>
</head>
